
<form method="post" action="/memo">
  <div class="form-items">
    <div class="form-items_title">
      <input type="text" name="title">
    </div>
    <div class="form-items_content">
      <input type="text" name="content">
    </div>
  </div>
  <div class="form-action">
    <input type="submit" value="保存">
  </div>
</form>
