<form method="post" action="/memo">
  <div class="container">
    <div class="form-items_title">
      <input type="text" name="title" class="form-control border-info">
    </div>
    <div class="form-items_content">
      <textarea name="content" class="form-control border-info"></textarea>
    </div>
    <div class="form-action form-row text-center">
      <div class="col-12 p-2">
        <input class="btn-outline-info btn-lg" type="submit" value="保存">
      </div>
    </div>
  </div>
</form>